
header{
    background-color:black;
    color:#fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header h1{
    font-size: 1.5rem;
}
    
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: null;
    color: azure;
}
nav ui li a{
   
    text-decoration:none;
    color:azure;
    border-radius: 5px;
    transition: background 0.4s;
    padding: 1.5rem 2rem;
}
nav ul li a:hover{
    background-color: #00f2f2;
    color: #000;
    border-radius: 5px;

}
.intro{
    background-color:cadetblue;
    justify-content: space-between;
    display: flex;

}
.intro-text{
    color: azure;
    padding: 1rem 1.5rem;

}
.intro h1{
    color: #000;
}
.intro p{
    color: #000;
}
.intro h2{
    color: #000;
}
.intro-img{
    display: flex;
    flex: 1;
    justify-content:space-around;
    
}
.intro-img img{
    border: 1px solid #00f2f2;
    border-radius: 5px;
    margin: 10px;
    margin-right: 10px;
    width: auto;
    height: 250px;
    
}
